/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  /* height: 80px; */
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 768px) {
  header {
    height: 60px;
    font-size: 18px;
  }
}

body, input, select {
  font-family: "Courier New", monospace;
  font-size: 14px;
}

body {
  margin: 0;
}

h1, h2, h3 {
  font-family: "Times New Roman", serif;
}

pre {
  margin: 0;
}

