.container {
  display: flex;
  height: 85vh;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 5px;
  height: calc(15vh - 6px);
}

.title {
  width: 100%;
}

.header h1 {
  margin: 0;
  padding-bottom: 2px;
  text-align: center;
}

.socialIcons {}

.socialIcons a {
  text-align: center;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
}

.formElement {
  height: 2em;
  margin-bottom: 1em;
  border-radius: 6px;
  border-color: #eaeaea;
}

.button {
  background-color: #5749ed;
  border-color: #4e41d5;
  color: white;
  cursor: pointer; /* Change cursor to pointer when hovering over button */
  height: 2.5em;
  font-weight: bold;
  margin-top: 0.5em;
  font-size: 1.1em;
}

.button:hover {
  background-color: #675bee; /* Change background color on hover */
}

.error {
  margin: 0.5rem 0;
  color: red;
  font-size: 0.875rem;
}

/* Grid */
.grid {
  width: calc(100% - 30px);
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 15px;
}

.gridItem {
  max-width: calc(40% - 10px);
  min-width: calc(25% - 10px);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;

  max-height: calc(100% - 50px);
}

.label {
  text-align: center;
  font-weight: bold;
  font-family: "Times New Roman", serif;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}


.scrollable {
  max-height: 100%;
  overflow-y: scroll;
  word-wrap: break-word;
  background-color: #f5f5f5;
  font-size: 0.7rem;
}

.copyButton {
  float: right;
}

.nftImage{
  width: 100%;
}

@media (max-width: 768px) {
  .header {
    padding-left: 40px;
    padding-bottom: 0px;
  }

  .grid {
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
  }

  .gridItem {
    min-width: 100%;
    width: 100%;
    padding: 20px;
  }

  .scrollable {
    max-height: 50vh;
  }
}
