.container {
  display: flex;
}

.sidebar {
  width: 25%;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}
.header h1 {
  margin: 0;
}
.socialIcons a {
  padding: 5px;
}

.red {
  color: #ff0000; /* red */
}

.orange {
  color: #ff7f00; /* orange */
}

.yellow {
  color: #ffff00; /* yellow */
}

.green {
  color: #00ff00; /* green */
}

.blue {
  color: #0000ff; /* blue */
}

.indigo {
  color: #4b0082; /* indigo */
}

.violet {
  color: #9400d3; /* violet */
}

.purple {
  color: #8b00ff; /* purple */
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 10px;
}

.formElement {
  height: 2em;
  margin-bottom: 0.5em;
}

.button {
  background-color: #5749ed;
  border-color: #4e41d5;
  color: white;
  cursor: pointer; /* Change cursor to pointer when hovering over button */
}

.button:hover {
  background-color: #675bee; /* Change background color on hover */
}

.error {
  margin: 0.5rem 0;
  color: red;
  font-size: 0.875rem;
}

/* Grid */
.grid {
  display: flex;
  width: 75%;
  flex-wrap: wrap;
}

.gridItem {
  width: 31%;
  padding: 1%;
}

.label {
  text-align: center;
  font-weight: bold;
}

.scrollable {
  max-height: 450px;
  overflow-y: scroll;
  word-wrap: break-word;
  background-color: #f5f5f5;
}

.nftImage{
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .container {
    display: block;
  }
  .sidebar {
    width: 100%;
  }

  .grid {
    width: 100%;
  }

  .gridItem {
    width: 100%;
  }
}


